table.table.table-hover.table-bordered
	thead
		tr
			th 序号
			th nation code
			th Weight (sort)
			th Origin Name
			th English Name
			th Chinese Name
			th nation telCode
			th brand Numbers
			th 删除
	tbody
		-let i = 0;
		each item in objects
			- i++;
			tr(class="item-id-"+item._id)
				td <strong> #{i} </strong>
				td: a(href="/bnNation/"+item._id) #{item.code}
				td #{Conf.weight[item.weight]}
				td #{item.name}
				td #{item.nameEN}
				td #{item.nameCN}
				td #{item.tel}
				td #{item.numbrand}
				td: button.btn.btn-danger.del(type="button", data-urldel="/bnNationDel", data-id=item._id) 删除
script(src="/js/delete.js")