table.table.table-hover.table-bordered
	thead
		tr
			th brand code
			th Weight(sort)
			th nation <br/> firm name
			th category1 / category2 <br/> material Description
			th website <br/> Note
			th status
			th numvendor
			th createAt <br/> updateAt
			th option
	tbody
		each item in objects
			- let trBg;
			if item.status == 0
				-trBg ="bg-info";
			else if item.status == 1
				-trBg ="bg-default";
			else if item.status == 2
				-trBg ="bg-success";
			else if item.status == 3
				-trBg ="bg-warning";
			else if item.status == 4
				-trBg ="bg-secondary";
			else if item.status == 5
				-trBg ="bg-danger";
			tr(class=trBg+" item-id-"+item._id)
				td: a.btn.btn-primary(href="/brandDetail/"+item._id) #{item.code}
				td #{item.weight}
				td
					if item.nation
						-a;
						span #{item.nation.code}<br/>
					span #{item.firmName}
				td 
					if item.bcateg
						-a;
						span #{Conf.bcate[item.bcateg.bcate]}<br/>#{item.bcateg.code}
					if item. matDesp && item.matDesp.length > 0
						-a;
						span <br/>#{item.matDesp}
				td #{item.website} <br/> #{item.webNote}
				td #{Conf.stsBrand[item.status]}
				if item.sconts
					td #{item.sconts.length}
				else
					td 0
				-a;
				td
					span #{moment(item.createAt).format('MM/DD/YYYY')}
					br
					span #{moment(item.updateAt).format('MM/DD/YYYY')}
				td: button.btn.btn-danger.del(type="button", data-urldel="/brandDel", data-id=item._id) 删除
script(src="/js/delete.js")