.bg-light
	table.table.table-hover.table-bordered
		tr
			th 国家
			th Origin Name
			th English Name
			th 中文名
			th 国家号码
			th 品牌数量
		tr
			td #{object.code}
			td #{object.name}
			td #{object.nameEN}
			td #{object.nameCN}
			td #{object.tel}
			td #{object.numbrand}
