if object.sconts && object.sconts.length > 0
	-let sconts = object.sconts;
	hr
	h2 #{sconts.length} - Vendors:
	table.table.table-hover.table-bordered
		thead
			tr
				th Vendor
				th Type
				th contacts
				th ac/sa
				th DISCOUNT
				th Note
				th status
				th views
		tbody
			each scont in sconts
				- let scontBg;
				if scont.status == 0
					-scontBg ="bg-info";
				else if scont.status == 1
					-scontBg ="bg-default";
				else if scont.status == 2
					-scontBg ="bg-success";
				else if scont.status == 3
					-scontBg ="bg-warning";
				else if scont.status == 4
					-scontBg ="bg-secondary";
				else if scont.status == 5
					-scontBg ="bg-danger";
				tr(class="scont-id-"+scont._id)
					if scont.vendor
						-vendor = scont.vendor;
						if vendor.status == 2
							-vdBg ="bg-secondary";
						else
							-vdBg ="bg-default";
						td(class=vdBg): a.btn.btn-primary(href="/vendorDetail/"+vendor._id) #{vendor.code}
						td(class=vdBg) #{Conf.vtype[vendor.vtype]}
						td(class=vdBg)
							if vendor.contacts && vendor.contacts.length > 0
								-contacts = vendor.contacts;
								each contact in contacts
									-a;
									ul
										li #{contact.contacter} 
										li #{contact.tel} 
										li #{contact.email}
						td(class=vdBg) #{vendor.ac} / #{vendor.sa}
					else
						td
						td
						td
					td(class=scontBg) #{scont.scont}%
					td(class=scontBg) #{scont.note}
					td(class=scontBg) #{Conf.stsScont[scont.status]}
					td(class=scontBg): a.btn.btn-primary(href="/scontDetail/"+scont._id) view