table.table.table-hover.table-bordered
	thead
		tr
			th brand code
			th nation
			th material Description
			th status
			th numvendor
	tbody
		each brand in brands
			-let a;
			tr(class="brand-id-"+brand._id)
				td: a(href="/sfBrand/"+brand._id) #{brand.code}
				td
					if brand.nation
						-a;
						span #{brand.nation.code}
				td #{brand.matDesp}
				td #{Conf.stsBrand[brand.status]}
				if brand.sconts
					td #{brand.sconts.length}
				else
					td 0
				-a;