table.table.table-hover.table-bordered
	thead
		tr
			th code
			th title
			th order
			th description
			th(style="min-width: 200px") note
			th createAt
			th finishAt
			//- th status
			th changeStatus
	tbody
		each item in objects
			-a;
			if item.status == 1
				- bgr="bg-white";
			else
				- bgr="bg-light";
			tr(class="item-id-"+item._id+" "+bgr)
				td: a(href="/sfTask/"+item._id) #{item.code}
				td #{item.title}
				td #{item.order}
				td #{item.description}
				td
					button.btn.btn-link.btnEdit(class="edit-"+item._id, type="button", data-id=item._id) edit
					if item.note
						-a;
						span(class="text-"+item._id) &nbsp;->&nbsp; #{item.note}
					form(class="form-"+item._id, method="post", action="/sfTaskUpd", style="display:none")
						input.form-control(type="hidden", name="object[_id]", value=item._id)
						input.form-control(class="ipt-"+item._id, type="hidden", value=item.note)
						textarea.form-control.rounded-0(class="tar-"+item._id, rows="3", name="object[note]")
						button.btn.btn-default.btnCancel(class="cancel-"+item._id, type="button", data-id=item._id, style="display:none") cancel
						input.btn.btn-info(type="submit" value="Edit Note")
				td #{moment(item.createAt).format('YYYY/MM/DD')}
				td #{item.finishAt}
				//- td #{Conf.stsTask[item.status]}
				td
					if item.status == 0
						button.btn.btn-info.change(class="del-"+item._id, type="button", data-url="/sfTaskStatus", data-sts=1, data-id=item._id) progress->finish
						
					else if item.status == 1
						button.btn.btn-warning.change(class="del-"+item._id, type="button", data-url="/sfTaskStatus", data-sts=0, data-id=item._id) finish->progress
					else
						button.btn.btn-warning.change(class="del-"+item._id, type="button", data-url="/sfTaskStatus", data-sts=0, data-id=item._id) progress
						button.btn.btn-info.change(class="del-"+item._id, type="button", data-url="/sfTaskStatus", data-sts	=1, data-id=item._id) finish
				
script(src="/js/changeStatus.js")
script(src="/js/task/list.js")