.row
	each item in objects
		- let objBg;
		if item.status == 0
			-objBg ="bg-info";
		else if item.status == 1
			-objBg ="bg-default";
		else if item.status == 2
			-objBg ="bg-secondary";
		.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-5(class="item-id-"+item._id)
			.card
				.row.m-1
					h4.text-center.col-12(class=objBg+" item-id-"+item._id) 
						a.text-dark(href="/bnBrand/"+item._id)
							- code = item.code;
							if code.length > 14
								-code = code.slice(0,12)+'...';
							span #{code}
					if item.nation
						-nation = item.nation;
						h5.text-center.col-12 [#{nation.code}]
					if item.bcateg
						-bcateg = item.bcateg;
						.col-12
							strong #{Conf.bcate[bcateg.bcate]}
						.col-12
							strong #{bcateg.code}
					else
						.col-12
							h5 Category Loss
					.col-12(style="height:40px") 
						- matDesp = item.matDesp;
						if  matDesp && matDesp.length > 40
							- matDesp = matDesp.slice(0, 37) + '...';
						span Material: #{matDesp}

					.col-12
						span Suppliers: 
						if item.sconts && item.sconts.length > 0
							-sconts = item.sconts;
							font.text-info(size=5) #{sconts.length}
						else
							span.text-danger 0 &nbsp;
							button.btn.btn-danger.del(type="button", data-urldel="/bnBrandDelAjax", data-id=item._id) delete
					.col-12
						span Website:
						-website = item.website;
						if website.slice(0,4) != 'http'
							- item.website = 'http://'+website
						a(href=item.website, target="view_window")
							if website.length > 15
								- website = website.slice(0, 12) + '...';
							span #{website}
					.col-12 UpdateAt: #{moment(item.updateAt).format('YYYY/MM/DD')}
script(src="/js/delete.js")