-paidAt="";
if object.paidAt
	-paidAt = moment(object.paidAt).format('YYYYMMDD');

- bgRecent = 'bg-default';
if paidAt < weekday && paidAt > today
	- bgRecent = 'bg-info';

-bgStatus = Conf.stsPayBg[object.status];
.row
	h1.col-sm-6 Pay Information
	.col-sm-6.text-right
		a.btn.btn-link.btn-lg(href="/fnOrder/"+order._id) back to Order Detail
hr
h3 supplier: <strong> #{vder.code}</strong> (taxFree: #{vder.taxFree})

table.table.table-hover.table-bordered
	tr
		th order
		th brand
		th P/I
		th price
		th staff
		th taxType
		th status
	tr
		td #{order.order}
		td #{order.brand}
		td #{order.pi}
		td #{order.price}
		td #{order.staff}
		td #{Conf.taxType[order.taxType]}
		td 
			if paidAt == today && (object.method || object.method == 0) && object.status < 2
				//- paidAt == today && (object.method || object.method == 0) &&
				-a;
				if object.method == 1
					- newStatus = parseInt(object.status) + 1;
				else 
					- newStatus = parseInt(object.status) + 2;
				button.btn.btn-info.change(type="button", data-url="/fnPayStatus", data-id=object._id, data-sts=newStatus) #{Conf.stsPay[order.status]}
			else
				span #{Conf.stsOrder[order.status]}
hr
table.table.table-hover.table-bordered
	tr
		td: strong ac/md/sa
		td #{object.code}
	tr
		td: strong Price
		td 
			if (paidAt == today) && (object.status == 0)
				-a;
				a.btn.btn-info(href="/fnPayUp/"+object._id) #{object.price}
			else
				span #{object.price}
	tr
		td: strong CreateAt
		-let createAt = "";
		if object.createAt
			- createAt = moment(object.createAt).format('MM/DD/YYYY');
		td #{createAt}
	tr
		td: strong paidAt
		td(class=bgRecent) #{moment(object.paidAt).format('MM/DD/YYYY')}
	tr
		td: strong Method
		td #{Conf.payMethod[object.method]}
	if object.method == 1
		-a;
		tr
			td: strong Assegno Code
			td #{object.agCode}
	tr
		td: strong Picture Path
		td #{object.picUrl}
	tr
		td: strong pay Note
		td #{object.note}
	tr
		td(class=bgStatus): strong Status
		td 
			span #{Conf.stsPay[object.status]} &nbsp;
			if object.method == 1
				-a;
				if object.status == 0
					-a;
					button.btn.btn-warning.change(type="button", class=referBtn, data-url="/fnPayStatus", data-id=object._id, data-sts=1) writed
				else if object.status == 1
					-a;
					button.btn.btn-warning.change(type="button", class=referBtn, data-url="/fnPayStatus", data-id=object._id, data-sts=2) Paid
				else
					button.btn.btn-danger.change(type="button", class=referBtn, data-url="/fnPayStatus", data-id=object._id, data-sts=0) init

			else if object.method || object.method == 0
				-a;
				if object.status == 0
					-a;
					if object.photo
						-a;
						button.btn.btn-warning.change(type="button", class=referBtn, data-url="/fnPayStatus", data-id=object._id, data-sts=2) Paid
					else
						span &nbsp; &nbsp; (Upload Photo)
				else
					button.btn.btn-danger.change(type="button", class=referBtn, data-url="/fnPayStatus", data-id=object._id, data-sts=0) init
script(src="/js/changeStatus.js")