h2.text-center.mt-5.p-2 Order: #{object.order}
.card.mt-2.p-2
	- let stsOrderLg = 0;
	if object.status > 2
		- stsOrderLg = 1
		if object.stsOrderLg
			- stsOrderLg = object.stsOrderLg;
	.row.mt-2
		h4.col-5.text-secondary.text-right Logistic:
		h4.col-7 
			span #{Conf.stsOrderLg[stsOrderLg]}
			if stsOrderLg == 1
				-a;
				button.btn.btn-warning.change(type="button", data-url="/lgOrderStslg", data-sts=2, data-id=object._id) RITIRARE
			else if stsOrderLg == 2
				-a;
				button.btn.btn-warning.change(type="button", data-url="/lgOrderStslg", data-sts=3, data-id=object._id) SPEDIRE
	.row.mt-2
		h4.col-5.text-secondary.text-right status:
		h4.col-7 #{Conf.stsOrder[object.status]}
	.row.mt-2
		h4.col-5.text-secondary.text-right price:
		h4.col-7
			if !isNaN(object.price)
				-price = (object.price).toFixed(2);
				span.text-info #{price} 
				span €
			else
				span.text-danger NaN
			if object.priceHis
				-priceHis = object.priceHis;
				span -(#{priceHis})
	.row.mt-2
		h4.col-5.text-secondary.text-right supplier:
		h4.col-7
			if object.vder
				-a;
				span #{object.vder.code}
			else
				span loss supplier
	.row.mt-2
		h4.col-5.text-secondary.text-right brand:
		h4.col-7 #{object.brand}
	.row.mt-2
		h4.col-5.text-secondary.text-right 形发P/I:
		h4.col-7 #{object.pi}
	.row.mt-2
		h4.col-5.text-secondary.text-right taxType:
		h4.col-7 #{Conf.taxType[object.taxType]}
	.row.mt-2
		h4.col-5.text-secondary.text-right Staff:
		h4.col-7 #{object.staff}
	.row.mt-2
		h4.col-5.text-secondary.text-right supplierNote:
		h4.col-7 #{object.note}
	.row.mt-2
		h4.col-5.text-secondary.text-right ourNote:
		h4.col-7 #{object.ourNote}
	.row.mt-2
		h4.col-5.text-secondary.text-right Creater:
		h4.col-7 
			if object.creater
				- createrCode = object.creater.code;
				span #{createrCode}
			else 
				span Creater Loss
	.row.mt-2
		h4.col-5.text-secondary.text-right CreateAt:
		h4.col-7 #{moment(object.createAt).format('YYYY/MM/DD')}

script(src="/js/changeStatus.js")