- var pTot = 0, acTot = 0, saTot = 0;
each item in objects
	-var stsOrderBg = Conf.stsOrderBg[item.status];

	-var payAc, acPrice, payMd, mdPrice, paySa, saPrice;
	-var bgAcPaid = bgMdPaid = bgSaPaid = "bg-default";
	-var bgAcToday = bgMdToday = bgSaToday = "bg-default";
	-var bgAcWeek = bgMdWeek = bgSaWeek = "bg-default";
	if item.payAc
		-payAc = item.payAc;
		-acPrice = payAc.price;

		if payAc.status > 0
			- bgAcPaid = "bg-warning";

		if payAc.paidAt
			-acTime = moment(payAc.paidAt).format('YYYYMMDD');
			if today == acTime
				- bgAcToday="bg-info";
			else if today < acTime && acTime < weekday
				- bgAcWeek="bg-info";
	if item.payMd
		-payMd = item.payMd;
		-mdPrice = payMd.price;

		if payMd.status > 0
			- bgMdPaid = "bg-warning";

		if payMd.paidAt
			-mdTime = moment(payMd.paidAt).format('YYYYMMDD');
			if today == mdTime
				- bgMdToday="bg-info";
			else if today < mdTime && mdTime < weekday
				- bgMdWeek="bg-info";
	if item.paySa
		-paySa = item.paySa;
		-saPrice = paySa.price;

		if paySa.status > 0
			- bgSaPaid = "bg-warning";

		if paySa.paidAt
			-saTime = moment(paySa.paidAt).format('YYYYMMDD');
			if today == saTime
				- bgSaToday="bg-info";
			else if today < saTime && saTime < weekday
				- bgSaWeek="bg-info";
	.card.p-2.mt-2(class="item-id-"+item._id)
		.row
			a.col-11.col-sm-6.btn.btn-default.text-left.text-dark.border.ml-2(class=stsOrderBg href="/lgOrder/"+item._id)
				h5 #{item.order}
				if item.vder
					-var vder = item.vder;
					h5 <span class="text-secondary">Supplier:</span> #{vder.code}
				else
					span Supplier Lost

				p <span class="text-secondary">Brand:</span> #{item.brand}
				.mt-2
					if item.status < 3
						-a;
						h5 daPAGARE
					else
						- let stsOrderLg = 1
						if item.stsOrderLg
							- stsOrderLg = item.stsOrderLg;
						h5 #{Conf.stsOrderLg[stsOrderLg]}
			.col-11.col-sm-5.ml-2
				if !isNaN(item.price)
					- let price = (item.price).toFixed(2);
					h4 
						span Total: 
						span.text-warning #{price} 
						span €
				else
					h4 Total: <span class="text-danger">NaN </span>
				h5 P/I： #{item.pi}

script(src="/js/order/list.js")