table.table.table-hover.table-bordered
	thead
		tr
			th code
			th title
			th order
			th description
			th(style="min-width: 200px") note
			th createAt
			th finishAt
			th user
			th status
	tbody
		if objects
			each item in objects
				-if(item.status == 1) {
					- bgr="bg-white"
				- } else {
					- bgr="bg-light"
				- }
				tr(class="item-id-"+item._id+" "+bgr)
					td: a(href="/mgTaskDetail/"+item._id) #{item.code}
					td #{item.title}
					td #{item.order}
					td #{item.description}
					td #{item.note}
					td #{moment(item.createAt).format('MM/DD/YYYY HH:mm')}
					td #{item.finishAt}
					if item.user
						td #{item.user.code}
					else
						td user is deleted
					td #{Conf.stsTask[item.status]}
				
hr
h3 #{amount}
