extends ../aalayout/layout

block content
	.container
		.row
			.col-sm-6
				dl.dl-horizontal
					dt Code:
					dd #{object.code}
					dt telephone:
					dd #{object.telephone}
					dt document:
					dd #{object.document}
					dt address:
					dd #{object.address}
					dt post:
					dd #{object.post}
					dt ivaNumber:
					dd #{object.ivaNumber}

					dt createAt:
					dd #{moment(object.createAt).format('DD/MM/YYYY')}
					dt updateAt:
					dd #{moment(object.updateAt).format('DD/MM/YYYY')}
			.col-sm-3
				include ./upInfo
			.col-sm-3
				include ./upPw