extends ../aalayout/layout

block content
	.container
		.row
			a.btn.btn-lg.btn-success.btn-block(href="/mgSferAdd") 添加Sfer
		hr
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 账户
						th 角色
						th 昵称
						th delete
				tbody
					each item in objects
						<tr class="item-id-#{item._id}">
							td: a(href="/mgSferDetail/"+item._id) #{item.code}
							td #{Conf.sfRole[item.role]} #{item.role}
							td #{item.name}
							td <button class="btn btn-danger del" type="button", data-urldel="/mgSferDel", data-id="#{item._id}"> delete </button>
						</tr>
	script(src="/js/delete.js")