extends ../aalayout/layout

block content
	.container
		.row
			a.btn.btn-lg.btn-success.btn-block(href="/mgSferAdd") 添加Sfer
		hr
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 账户
						th 部门
						th 角色
						th 昵称
						th delete
				tbody
					each item in objects
						-a;
						tr(class="item-id-"+item._id)
							td: a(href="/mgSferDetail/"+item._id) #{item.code}
							td #{Conf.sfRole[item.role]} #{item.role}
							td #{Conf.sfPart[item.part]}
							td #{item.name}
							td: button.btn.btn-danger.del(type="button", data-urldel="/mgSferDel", data-id=item._id) delete
		.row
			.col-6
				a.btn.btn-default.btn-block(href="/logisticOrder") 物流订单
			.col-6.text-right
				a.btn.btn-default.btn-block(href="/userExcel") 下载用户列表
	script(src="/js/delete.js")