extends ../aalayout/layout

block content
	.container
		-let stsOrderBg = Conf.stsOrderBg[object.status];
		.row(class=stsOrderBg)
			h1.col-sm-6
				span Order Information: 
			.col-sm-4.text-right
				a.btn.btn-link(href="/fnOrders") back list
		hr
		if object.status == 0
			-a;
			button.btn.btn-warning.change(type="button", data-url="/fnOrderStatus", data-id=object._id, data-sts=1) 确定订单信息正确
			dl
				if object.payAc
					-a;
					dt ac:
					dd #{object.payAc.price}
				if object.payMd
					-a;
					dt md:
					dd #{object.payMd.price}
				if object.paySa
					-a;
					dt sa:
					dd #{object.paySa.price}
		else
			include ./detail/acsaInfo
		hr
		include ./detail/selfInfo
		hr
		a.btn.btn-warning(href="/fnOrderUp/"+object._id) Update
		span &nbsp; &nbsp;
		a.btn.btn-danger(href="/fnOrderDel/"+object._id) Delete
	script(src="/js/changeStatus.js")