h4.mt-4 Brands - #{brands.length} :
each brand in brands
	-a;
	.card.mt-4
		.row.m-1
			.col-12.col-sm-4
				h4: a(href="/lgBrand/"+brand._id) #{brand.code}
				if brand.bcateg
					- bcateg = brand.bcateg;
					h5 #{Conf.bcate[bcateg.bcate]}
					h5 #{bcateg.code}
				else
					h5 Brand Category Lost
			.col-12.col-sm-4
				h5
					span.col-6.text-secondary Material:
					span.col-6.text-info #{brand.matDesp}
				h5
					span.col-6.text-secondary Firm:
					span.col-6.text-info #{brand.firmName}
			.col-12.col-sm-4
				h5
					span.col-6.text-secondary Status:
					span.col-6.text-info #{Conf.stsBrand[brand.status]}
				h5
					span.col-6.text-secondary Num Supplier:
					if brand.sconts
						-sconts = brand.sconts;
						span #{sconts.length}
					else
						span 0