.card.p-2
	.row
		h5.col-6.col-sm-3.text-secondary Code
		h5.col-6.text-info #{object.code}
	.row
		h5.col-6.col-sm-3.text-secondary Origin Name
		h5.col-6.text-info #{object.name}
	.row
		h5.col-6.col-sm-3.text-secondary English Name
		h5.col-6.text-info #{object.nameEN}
	.row
		h5.col-6.col-sm-3.text-secondary Chinese Name
		h5.col-6.text-info #{object.nameCN}
	.row
		h5.col-6.col-sm-3.text-secondary Nation telCode
		h5.col-6.text-info #{object.tel}
	.row
		h5.col-6.col-sm-3.text-secondary createAt
		h5.col-6.text-info #{moment(object.createAt).format('YYYY/MM/DD')}
	.row
		h5.col-6.col-sm-3.text-secondary updateAt
		h5.col-6.text-info #{moment(object.updateAt).format('YYYY/MM/DD')}
	.row
		h5.col-6.col-sm-3.text-secondary creater
		h5.col-6.text-info
			if object.creater
				-creater = object.creater;
				span #{creater.name}
	.row
		h5.col-6.col-sm-3.text-secondary updater
		h5.col-6.text-info
			if object.updater
				-updater = object.updater;
				span #{updater.name}
	.row
		h5.col-6.col-sm-3.text-secondary Weight(for sort)
		h5.col-6.text-info #{Conf.weight[object.weight]}
	.row
		h5.col-6.col-sm-3.text-secondary brand Numbers
		h5.col-6.text-info #{object.numbrand}