form(method="get", action=url, enctype="multipart/form-data")
	.form-group.row
		label.col-sm-2.col-form-label Keywords
		.col-sm-2
			select.form-control(name="keytype", data-style="btn-info")
				if keytype == "code"
					-a;
					option(value="code", selected="selected") ac/md/sa
				else
					option(value="code") ac/md/sa
				if keytype == "agCode"
					-a;
					option(value="agCode", selected="selected") Assegno Code
				else
					option(value="agCode") Assegno Code
				if keytype == "price"
					-a;
					option(value="price", selected="selected") Price
				else
					option(value="price") Price
				if keytype == "order"
					-a;
					option(value="order", selected="selected") Order
				else
					option(value="order") Order
				if keytype == "vder"
					-a;
					option(value="vder", selected="selected") Supplier
				else
					option(value="vder") Supplier
				if keytype == "staff"
					-a;
					option(value="staff", selected="selected") staff
				else
					option(value="staff") staff
		.col-sm-8
			input.form-control(type="text", name='keyword', value=keyword, placeholder="input the keywords to find your jobs")

	.form-group.row
		label.col-sm-2.col-form-label#labCrtS crtAt Start
		.col-sm-4
			input#crtS.datepicker.form-control(type="text", name="crtS", placeholder="startDate (month/day/year)", readonly="readonly", value=crtS)
		label.col-sm-2.col-form-label#labCrtF crtAt End
		.col-sm-4
			input#crtF.datepicker.form-control(type="text", name="crtF", placeholder="endDate (month/day/year)", readonly="readonly", value=crtF)
				
	.form-group.row
		label.col-sm-2.col-form-label#labPaidS paidAt Start
		.col-sm-4
			input#paidS.datepicker.form-control(type="text", name="paidS", placeholder="startDate (month/day/year)", readonly="readonly", value=paidS)
		label.col-sm-2.col-form-label#labPaidF paidAt End
		.col-sm-4
			input#paidF.datepicker.form-control(type="text", name="paidF", placeholder="endDate (month/day/year)", readonly="readonly", value=paidF)

	.form-group.row
		label.col-sm-2.col-form-label Mailed
		.col-sm-10
			select.form-control(name="mailed", data-style="btn-info")
				if !condMailed || condMailed == 0
					-a;
					option(value="0", selected="selected") Not
				else
					option(value="0") Not
				if condMailed == 1
					-a;
					option(value="1", selected="selected") Mailed
				else
					option(value="1") Mailed
				if condMailed == 2
					-a;
					option(value="2", selected="selected") All
				else
					option(value="2") All

	- let objStatus = Conf.stsPay;
	include ../../../../aaPlugin/filter/status

	include ../../../../aaPlugin/filter/footer

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
//- <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
//- timepicker
link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
script(src="/libs/jt.timepicker/jquery.timepicker.min.js")


script(src="/js/fner/pay/filter.js")