extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 New Order
			.col-sm-6.text-right
				a.btn.btn-link(href="/hrOrders") back List
		hr
		form#addOrder(method="post", action=action, enctype="multipart/form-data")
			input#iptStaff.form-control(type="hidden", name="object[staff]", value=crSfer.code)
			.form-group.row
				label.col-sm-2.com-form-label Input Vendor Code
				.col-sm-8
					input#ajaxIptVendorCode.form-control(type="text", data-router="/ajaxHrVendor")
				.col-sm-2
					span.text-danger#ajaxOptVendorCode
			input#iptVder(type="hidden", name="object[vder]")
			.row
				.col-sm-2
				.col-sm-8
					table#filterVendor.table.table-hover.table-bordered
			.form-group.row
				label.col-sm-2.col-form-label Order
				.col-sm-8
					input#iptOrder.form-control(type="text", name="object[order]")
				.col-sm-2
					span#optOrder.text-danger(style="display:none") Please complete order

			.form-group.row
				label.col-sm-2.col-form-label P/I
				.col-sm-8
					input#iptPi.form-control(type="text", name="object[pi]")
				.col-sm-2
					span#optPi.text-danger(style="display:none") Please complete proforma invoice

			.form-group.row
				label.col-sm-2.col-form-label Brand
				.col-sm-8
					input#iptBrand.form-control(type="text", name="object[brand]")
				.col-sm-2
					span#optBrand.text-danger(style="display:none") Please complete Brand

			.form-group.row
				label.col-sm-2.col-form-label Price
				.col-sm-8
					input#iptPrice.form-control(type="text", name="object[price]")
				.col-sm-2
					span#optPrice.text-danger(style="display:none") Please complete Price

			.form-group.row
				label.col-sm-2.col-form-label taxType
				.col-sm-8
					select#iptTaxType.form-control(name="object[taxType]", data-style="btn-info")
						each key in Object.keys(Conf.taxType)
							-a;
							option(value=key) #{Conf.taxType[key]} - #{key}
				.col-sm-2
					span#optTaxType.text-danger


			.form-group.row
				label.col-sm-2.col-form-label ourNote
				.col-sm-8
					textarea.form-control.rounded-0(rows="3", name="object[ourNote]")
			hr
			.form-group.row
				label.col-sm-2.col-form-label Ac
				.col-sm-2
					input#iptAc.form-control(type="text", name="object[acPrice]")
				.col-sm-2
					.input-group.mb-3
						input#perAc.form-control(type="number" placeholder="number" aria-label="percentuale of AC" aria-describedby="basic-addon1")
						.input-group-append
							span.input-group-text#basic-addon1 %
				.col-sm-4
					span#optAc.text-danger(style="display:none") Pleas complete Ac Price
			.form-group.row
				label.col-sm-2.col-form-label Sa
				.col-sm-2
					input#iptSa.form-control(type="text", name="object[saPrice]")
				.col-sm-2
					.input-group.mb-3
						input#perSa.form-control(type="number" placeholder="number" aria-label="percentuale of SA" aria-describedby="basic-addon2")
						.input-group-append
							span.input-group-text#basic-addon2 %
				.col-sm-4
					span#optSa.text-danger(style="display:none") Pleas complete Sa Price

			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="Add Order")

	script(src="/js/order/add.js")