.w150
	.h18 CATEGORY
	.h30.border #{Conf.bcate[brand.bcateg.bcate]}
	.h30.border #{brand.bcateg.code}
.w210.text-center
	.h40.border: h6: strong #{brand.code}
	.h30.border #{Conf.vtype[vendor.vtype]}
.w150.text-right
	.h30 COUNTRY: #{brand.nation.code}
	.h18 COMPANY(supplier):
	.h30.border #{brand.firmName}