.card.p-2
	.row
		h5.col-6.col-sm-3.text-secondary 代号
		h5.col-6.text-info #{object.code}
	.row
		h5.col-6.col-sm-3.text-secondary English Name
		h5.col-6.text-info #{object.nameEN}
	.row
		h5.col-6.col-sm-3.text-secondary 中文名
		h5.col-6.text-info #{object.nameCN}
	.row
		h5.col-6.col-sm-3.text-secondary 国家号码
		h5.col-6.text-info #{object.tel}
	.row
		h5.col-6.col-sm-3.text-secondary 品牌数量
		h5.col-6.text-info #{object.numbrand}