form(method="get", action=url, enctype="multipart/form-data")
	.form-group.row
		.col-4.col-lg-2.col-xl-2.mt-3
			select.form-control(name="keytype", data-style="btn-info")
				if keytype == "order"
					-a;
					option(value="order", selected="selected") Order
				else
					option(value="order") Order
				if keytype == "pi"
					-a;
					option(value="pi", selected="selected") P/I
				else
					option(value="pi") P/I
				if keytype == "brand"
					-a;
					option(value="brand", selected="selected") brand
				else
					option(value="brand") brand
				if keytype == "note"
					-a;
					option(value="note", selected="selected") Note
				else
					option(value="note") Note
		.col-8.col-lg-6.col-xl-4.mt-3
			input.form-control(type="text", name='keyword', value=keyword, placeholder="input the keywords")
	
		.col-12.col-sm-10.col-lg-6.col-xl-5.mt-4
			.form-check.form-check-inline
				each key in Object.keys(Conf.stsOrderVder)
					-a;
					if condStatus == key || condStatus.indexOf(key) > -1
						-a;
						input.form-check-input(id="sts"+key, type="checkbox", name="status", value=key, checked="checked")
						label.form-check-label(for="sts"+key) #{Conf.stsOrderVder[key]} &nbsp; &nbsp;
					else
						input.form-check-input(id="sts"+key, type="checkbox", name="status", value=key)
						label.form-check-label(for="sts"+key) #{Conf.stsOrderVder[key]} &nbsp; &nbsp;
		.col-12.col-sm-2.col-lg-2.col-xl-1.mt-3
			input.btn.btn-info.btn-block(type="submit" value="filter")