table.table.table-hover.table-bordered
	thead
		tr
			th status
			th order
			th brand
			//- th P/I
			th price
			th ac
			th Method / acAt
			th md
			th Method / mdAt
			th sa
			th Method / saAt
			th(style="min-width: 100px") note
	tbody
		- let pTot = 0, acTot = 0, saTot = 0;
		each item in objects
			-let stsOrderBg = Conf.stsOrderBg[item.status];

			-let payAc, acPrice, payMd, mdPrice, paySa, saPrice;
			-let methodAc, methodMd, methodSa;
			-let bgAcPaid = bgMdPaid = bgSaPaid = "bg-default";
			-let bgAcToday = bgMdToday = bgSaToday = "bg-default";
			-let bgAcWeek = bgMdWeek = bgSaWeek = "bg-default";
			if item.payAc
				-payAc = item.payAc;
				-methodAc = payAc.method;
				-acPrice = payAc.price;

				if payAc.status > 0
					- bgAcPaid = "bg-warning";

				if payAc.paidAt
					-acTime = moment(payAc.paidAt).format('YYYYMMDD');
					if today == acTime
						- bgAcToday="bg-info";
					else if today < acTime && acTime < weekday
						- bgAcWeek="bg-info";
			if item.payMd
				-payMd = item.payMd;
				-methodMd = payMd.method;
				-mdPrice = payMd.price;

				if payMd.status > 0
					- bgMdPaid = "bg-warning";

				if payMd.paidAt
					-mdTime = moment(payMd.paidAt).format('YYYYMMDD');
					if today == mdTime
						- bgMdToday="bg-info";
					else if today < mdTime && mdTime < weekday
						- bgMdWeek="bg-info";
			if item.paySa
				-paySa = item.paySa;
				-methodSa = paySa.method;
				-saPrice = paySa.price;

				if paySa.status > 0
					- bgSaPaid = "bg-warning";

				if paySa.paidAt
					-saTime = moment(paySa.paidAt).format('YYYYMMDD');
					if today == saTime
						- bgSaToday="bg-info";
					else if today < saTime && saTime < weekday
						- bgSaWeek="bg-info";

			tr(class="item-id-"+item._id)
				td(class=stsOrderBg)
					if item.status == 3
						-a;
						button.btn.btn-warning.change(type="button", , data-url="/vdOrderStatus", data-id=item._id, data-sts=4) 确认完全付款
					else
						span #{Conf.stsOrderVder[item.status]}
				td #{item.order}
				td #{item.brand}
				//- td #{item.pi}
				td #{item.price}
				td(class=bgAcPaid + " " + bgAcToday) #{acPrice}
				td(class=bgAcWeek)
					if methodAc || methodAc == 0
						-a;
						span #{Conf.payMethod[methodAc]}
						br
					if payAc && payAc.paidAt
						-paidAt = payAc.paidAt;
						span #{moment(paidAt).format('YYYY/MM/DD')}
				td(class=bgMdPaid + " " + bgMdToday) #{mdPrice}
				td(class=bgMdWeek)
					if methodMd || methodMd == 0
						-a;
						span #{Conf.payMethod[methodMd]}
						br
					if payMd && payMd.paidAt
						-a;
						span #{moment(payMd.paidAt).format('YYYY/MM/DD')}
				td(class=bgSaPaid + " " + bgSaToday) #{saPrice}
				td(class=bgSaWeek)
					if methodSa || methodSa == 0
						-a;
						span #{Conf.payMethod[methodSa]}
						br
					if paySa && paySa.paidAt
						-a;
						span #{moment(paySa.paidAt).format('YYYY/MM/DD')}
				td
					include ./editNote

script(src="/js/order/list.js")
script(src="/js/changeStatus.js")