.bg-light
	table.table.table-hover.table-bordered
		tr
			th nation code
			th Weight(for sort)
			th Origin Name
			th English Name
			th Chinese Name
			th nation telCode
		tr
			td: a(href="/nationDetail/"+object._id) #{object.code}
			td #{Conf.weight[object.weight]}
			td #{object.name}
			td #{object.nameEN}
			td #{object.nameCN}
			td #{object.tel}
	table.table.table-hover.table-bordered
		tr
			th createAt
			th updateAt
			th creater
			th updater
			th brand Numbers
			th option
		tr
			td #{moment(object.createAt).format('DD/MM/YYYY')}
			td #{moment(object.updateAt).format('DD/MM/YYYY')}
			td
				if object.creater
					-a;
					span #{object.creater.name}
			td
				if object.updater
					-a;
					span #{object.updater.name}
			td #{object.numbrand}
			td: a.btn.btn-warning.btn-lg(href="/nationUpdate/"+object._id) update
