extends ../../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6
				span Scont Update
			.col-sm-6.text-right
				a.btn.btn-link(href="/scontDetail/"+object._id) scont Detail
		hr
		.row
			.col-sm-6
				h2 Brand: #{object.brand.code}
			.col-sm-6
				h2 Vendor: #{object.vendor.code}
		hr
		.row
			.col-sm-8
				form#updateScont(method="post", action="/updateScont", enctype="multipart/form-data")
					input#scontBrand(type="hidden", name="object[_id]", value=object._id)
					.form-group.row
						label.col-sm-2.col-form-label Updater
						input#iptUpdater(type="hidden", name="object[updater]", value=updater._id)
						.col-sm-6.input-group
							input#updaterCode.form-control(type="text", value=updater.code)
						.col-sm-4
							span.text-danger#optUpdater
					.form-group.row
						label.col-sm-2.col-form-label Sconto
						input#orgScont(type="hidden", value=object.scont)
						.col-sm-6.input-group
							input#iptScont.form-control(type="number", name="object[scont]", value=object.scont)
							.input-group-append
								span.input-group-text %	
						.col-sm-4
							span.text-danger#optScont
					.form-group.row
						label.col-sm-2.col-form-label NOTE
						.col-sm-10
							input.form-control(type="text", name="object[note]", placeholder="Change the reason for the discount")
					.form-group.row
						label.col-sm-2.col-form-label Cause
						.col-sm-10
							select#iptSctCause.form-control(name="object[cause]", data-style="btn-info")
								each key in Object.keys(Conf.sctCause)
									if key == object.cause
										option(value=key, selected="selected") #{Conf.sctCause[key]}
									else
										option(value=key) #{Conf.sctCause[key]}
								- a;
					script(src="/js/scont/scont/add/scontAdd.js")
					.form-group.row
						.offset-md-2.col-md-10
							input.btn.btn-default(type="submit" value="Update Scont")
			.col-sm-4#matchSfer(style="display:none")
				table#filterSfer.table.table-hover.table-bordered
	script(src="/js/scont/scont/update.js")