form(method="get", action=printAction, enctype="multipart/form-data")
	.form-group.row
			input.form-control(type="hidden", name="page", value=currentPage-1)
	.form-group.row
			input.form-control(type="hidden", name="ktype", value=ktype)
			input.form-control(type="hidden", name="keyword", value=keyword)
	.form-group.row
		.col-md-6
			if selStart
				input.form-control(type="hidden", name="start", value=moment(selStart).format('MM/DD/YYYY'))
			else
				input.form-control(type="hidden", name="start")
		.col-md-6
			if selEnded
				input.form-control(type="hidden", name="ended", value=moment(selEnded).format('MM/DD/YYYY'))
			else
				input.form-control(type="hidden", name="ended")

	.form-group.row
		.col-sm-8
			input.form-control(type="hidden", name="status", value=selStatus)

	.form-group.row
		.offset-md-6.col-sm-6
			input.btn.btn-info.btn-block(type="submit" value="DownLoad Execl")