-var i = 0;
each item in objects
	- i++;
	a.text-dark(href="/cnNation/"+item._id)
		.card.p-2.mt-2
			.row
				.col-12.col-sm-6
					.row
						.col-4: strong #{i}
						h4.col-4 #{item.code}
						.col-4 #{item.tel}
				.col-12.col-sm-6
					.row
						.col-4 #{item.nameCN}
						.col-4 #{item.nameEN}
						.col-4.text-info #{item.numbrand}