table.table.table-hover.table-bordered
	thead
		tr
			th brand code
			th firm name
			th category1 / category2
			th material Description
			th status
			th numvendor
	tbody
		each brand in brands
			-let a;
			tr(class="brand-id-"+brand._id)
				td: a(href="/qtBrand/"+brand._id) #{brand.code}
				td #{brand.firmName}
				td 
					if brand.bcateg
						-a;
						span #{Conf.bcate[brand.bcateg.bcate]}<br/>#{brand.bcateg.code}
					if brand. matDesp && brand.matDesp.length > 0
						-a;
				td <br/>#{brand.matDesp}
				td #{Conf.stsBrand[brand.status]}
				if brand.sconts
					td #{brand.sconts.length}
				else
					td 0
				-a;