- var total = 0;
each item in objects
	- total += parseFloat(item.price)

	-paidAt="";
	if item.paidAt
		-paidAt = moment(item.paidAt).format('YYYYMMDD');

	- bgRecent = 'bg-default';
	if paidAt < weekday && paidAt > today
		- bgRecent = 'bg-info';

	-bgStatus = Conf.stsPayBg[item.status];
	.card.mt-4
		.row.m-1
			.col-lg-12.col-xl-4.border-right
				if item.order
					-order = item.order;
					a.btn.text-dark.text-left(href="/qtOrder/"+order._id)
						h3
							span(class=Conf.stsOrderBg[order.status] + " text-secondary") Order: 
							span #{order.order} 
					if order.vder
						-vder = order.vder;
						h4 <span class="text-secondary">Supplier:</span> #{vder.code}
					else
						h4.text-danger Supplier Loss
					h4 <span class="text-secondary">TaxType:</span> #{Conf.taxType[order.taxType]}
					h4 <span class="text-secondary">Staff:</span> #{item.order.staff}
					if item.note
						- note = item.note;
						h5  <span class="text-secondary">Note:</span>#{item.note}
				else
					h2.text-danger Order Loss
			.col-lg-12.col-xl-4.border-right
				h2
					span #{(item.code).toUpperCase()}: 
					if !isNaN(item.price)
						-price = (item.price).toFixed(2);
						span.text-info #{price} 
					else
						span.text-danger NaN
					span €
				if item.paidAt
					-a;
					h5(class=bgRecent) PaidAt: #{moment(item.paidAt).format("MM/DD/YYYY")}
				if item.createAt
						-a;
						h5 CreatAt #{moment(item.createAt).format("MM/DD/YYYY")}
			.col-lg-12.col-xl-4
				h4
					span(class=bgStatus) #{Conf.stsPay[item.status]}
				p #{item.picUrl}
				if item.order && item.order.staff == crSfer.code
					-a;
					if item.mailed && item.mailed != 0
						-a;
						button.btn.btn-warning.change(class="del-"+item._id, type="button", data-url="/qtPayMailed", data-sts=0, data-id=item._id) Mailed->Not
					else
						button.btn.btn-info.change(class="del-"+item._id, type="button", data-url="/qtPayMailed", data-sts=1, data-id=item._id) Not->Mailed

//- h2.bg-info.rounded Total price : #{total.toFixed(2)}
script(src="/js/changeStatus.js")