table.table.table-hover.table-bordered
	thead
		tr
			th order <br/> staff
			th vendor
			th taxType
			th acsa
			th price
			th Method
			th createAt
			th paidAt
			th status
			th Assegno
			th Picture
			th note
			th mailed
	tbody
		- let total = 0;
		each item in objects
			- total += parseFloat(item.price)

			-paidAt="";
			if item.paidAt
				-paidAt = moment(item.paidAt).format('YYYYMMDD');

			- bgRecent = 'bg-default';
			if paidAt < weekday && paidAt > today
				- bgRecent = 'bg-info';

			-bgStatus = Conf.stsPayBg[item.status];

			tr(class="item-id-"+item._id+" "+bgStatus)
				if item.order
					-order = item.order;
					td(class=Conf.stsOrderBg[order.status])
						a.btn.btn-info(href="/qtOrder/"+order._id) #{order.order} 
						br
						span #{order.staff}

					if order.vder
						-vder = order.vder;
						td #{vder.code}
					else
						td
					td #{Conf.taxType[order.taxType]}
				else
					td(class=bgErr)
					td
					td
				td #{item.code}
				td #{item.price}
				td #{Conf.payMethod[item.method]}
				td 
					if item.createAt
						-a;
						span #{moment(item.createAt).format("MM/DD/YYYY")}
				td(class=bgRecent) 
					if item.paidAt
						-a;
						span #{moment(item.paidAt).format("MM/DD/YYYY")}
				td #{Conf.stsPay[item.status]}
				td #{item.agCode}
				td #{item.picUrl}
				td #{item.note}
				td
					if item.mailed && item.mailed != 0
						-a;
						button.btn.btn-warning.change(class="del-"+item._id, type="button", data-url="/qtPayMailed", data-sts=0, data-id=item._id) Mailed->Not
					else
						button.btn.btn-info.change(class="del-"+item._id, type="button", data-url="/qtPayMailed", data-sts=1, data-id=item._id) Not->Mailed

//- h2.bg-info.rounded Total price : #{total.toFixed(2)}
script(src="/js/changeStatus.js")