extends ../aalayout/layout

block content
	.container
		h1 Brand Add
		hr
		form#add(method="post", action="/bnBrandNew", enctype="multipart/form-data")
			.form-group.row
				label.col-sm-2.col-form-label Code
				.col-sm-8
					input#iptCode.form-control(type="text", class="iptCode", name="object[code]", placeholder="Must fill it")
				#optCode.text-danger
			.form-group.row
				label.col-sm-2.col-form-label Nation
				.col-sm-8
					select.form-control(name="object[nation]", data-style="btn-info")
						each nation in nations
							option(value=nation._id) #{nation.code}
						- a;
			.form-group.row
				label.col-sm-2.col-form-label CATEGORY 1
				.col-sm-3
					select.form-control#iptCateFir(data-style="btn-info")
						option#cateSel(value=-1) Please Select
						each key in Object.keys(Conf.bcate)
							- a;
							option(value=key) #{Conf.bcate[key]} #{key}
				label.col-sm-2.col-form-label CATEGORY 2
				.col-sm-3
					select.form-control#iptCateg(name="object[bcateg]", data-style="btn-info")
						option(value=-1) Please Select
						//- each bcateg in bcategs
						//- 	option(value=bcateg._id) #{bcateg.code}
						//- - a;
				.col-sm-2
					#optCateg.text-danger

			.form-group.row
				label.col-sm-2.col-form-label matDesp
				.col-sm-8
					input#iptmatDesp.form-control(type="text",class="iptmatDesp", name="object[matDesp]")
			.form-group.row
				label.col-sm-2.col-form-label website
				.col-sm-8
					input#iptwebsite.form-control(type="text",class="iptwebsite", name="object[website]")
			.form-group.row
				label.col-sm-2.col-form-label webSum
				.col-sm-8
					input#iptwebSum.form-control(type="text",class="iptwebSum", name="object[webSum]")
			.form-group.row
				label.col-sm-2.col-form-label firmName
				.col-sm-8
					input#iptfirmName.form-control(type="text",class="iptfirmName", name="object[firmName]")
			.form-group.row
				label.col-sm-2.col-form-label(for="iptIva") iva
				.col-sm-8
					input.form-control#iptIva(type="text", name="object[iva]")
			.form-group.row
				label.col-sm-2.col-form-label pricelist
				.col-sm-2
					select.form-control#selPL(name="object[plist]", data-style="btn-info")
						option(value=1) true
						option(value=0) false
				.col-sm-6
					input.form-control#iptPLN(type="text", name="object[plNote]", placeholder="pricelist NOTE")
			.form-group.row
				label.col-sm-2.col-form-label CATALOG
				.col-sm-2
					select.form-control#selCL(name="object[atlas]", data-style="btn-info")
						option(value=1) true
						option(value=0) false
				.col-sm-6
					input.form-control#iptCLN(type="text", name="object[atNote]", placeholder="cataloglist NOTE")
			.form-group.row
				label.col-sm-2.col-form-label(for="iptPDT") productTime
				.col-sm-8
					input.form-control#iptPDT(type="text", name="object[pTime]")
			.form-group.row
				label.col-sm-2.col-form-label(for="iptCartace") cartace
				.col-sm-3
					input.form-control#iptCartace(type="number", name="object[cartace]")
				label.col-sm-2.col-form-label(for="iptVideo") video
				.col-sm-3
					input.form-control#iptVideo(type="number", name="object[video]")
			.form-group.row
				label.col-sm-2.col-form-label Status
				.col-sm-8
					select.form-control(name="object[status]", data-style="btn-info")
						each key in Object.keys(Conf.stsBrand)
							- let a;
							option(value=key) #{Conf.stsBrand[key]}
						- a;
			.form-group.row
				.offset-sm-2.col-sm-10
					input.btn.btn-info#sub(type="submit" value="Add Brand")
					a.btn.btn-info#back(href="/brandList", style="display:none") BACK TO LIST
	script(src="/js/scont/brand/add.js")