extends ../aalayout/layout

block content
	.container
		h1 Bcateg Update
		hr
		form#update(method="post", action="/bnBcategUpd", enctype="multipart/form-data")
			input(type="hidden", name="object[_id]", value=object._id)
			.form-group.row
				label.col-md-2.col-form-label Change First Categ
				.col-md-8
					select.form-control(name="object[bcate]", data-style="btn-info")
						each key in Object.keys(Conf.bcate)
							if object.bcate == key
								option(value=key, selected="selected") #{Conf.bcate[key]}
							else
								option(value=key) #{Conf.bcate[key]}
						- a;
			.form-group.row
				label.col-sm-2.col-form-label Code
				.col-sm-8
					input#iptCode.form-control(type="text", class="iptCode", name="object[code]", value=object.code, placeholder="Must fill it")
			.form-group.row
				label.col-sm-2.col-form-label English Name
				.col-sm-8
					input#iptNameEN.form-control(type="text",class="iptNameEN", name="object[nameEN]", value=object.nameEN)
			.form-group.row
				label.col-sm-2.col-form-label 中文名字
				.col-sm-8
					input#iptNameCN.form-control(type="text",class="iptNameCN", name="object[nameCN]", value=object.nameCN)
			.form-group.row
				label.col-md-2.col-form-label Weight
				.col-md-8
					select.form-control(name="object[weight]", data-style="btn-info")
						each key in Object.keys(Conf.weight)
							if object.weight == key
								option(value=key, selected="selected") #{Conf.weight[key]}
							else
								option(value=key) #{Conf.weight[key]}
						- a;
			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="Update Bcateg")