extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Pay Update
			.col-sm-6.text-right
				a.btn.btn-link.btn-lg(href="/fnOrder/"+order._id) back to Order Detail
		hr
		h3 supplier: <strong> #{vder.code}</strong> (taxFree: #{vder.taxFree})

		table.table.table-hover.table-bordered
			tr
				th order
				th brand
				th P/I
				th price
				th staff
				th taxType
				th status
			tr
				td #{order.order}
				td #{order.brand}
				td #{order.pi}
				td #{order.price}
				td #{order.staff}
				td #{Conf.taxType[order.taxType]}
				td #{Conf.stsOrder[order.status]}
		form#fnUpPay(method="post", action=action, enctype="multipart/form-data")
			input.form-control(type="hidden", name="object[_id]", value=object._id)
			hr
			if object.status == 0 && object.method != 0
				-a;
				.form-group.row
					label.col-sm-2.col-form-label Pay Method
					.col-sm-6
						select#iptMethod.form-control(name="object[method]", data-style="btn-info")
							option(value=-2) please select
							each key in Object.keys(Conf.payMethod)
								-a;
								if key == object.method
									-a;
									option(value=key, selected="selected") #{Conf.payMethod[key]} #{key}
								else
									option(value=key) #{Conf.payMethod[key]} #{key}
					.col-sm-4
						span#optMethod.text-danger(style="display:none") Pleas Select Pay Method
				if object.method == 1
					- a;
					.form-group.row#assegnoCode
						label.col-sm-2.col-form-label #{object.code} Assegno Code
						.col-sm-6
							input#iptAssegnoCode.form-control(type="text", name="object[agCode]", value=object.agCode)
				else
					.form-group.row#assegnoCode(style="display:none")
						label.col-sm-2.col-form-label #{object.code} Assegno Code
						.col-sm-6
							input#iptAssegnoCode.form-control(type="text", name="object[agCode]", value=object.agCode)
				.form-group.row
					label.col-sm-2.col-form-label #{object.code} Price
					.col-sm-6
						input#iptPayPrice.form-control(type="text", name="object[price]", value=object.price)
					.col-sm-4
						span#optPayPrice.text-danger(style="display:none") Pleas complete Pay Price
				.form-group.row
					label.col-sm-2.col-form-label CreateAt
					.col-sm-6
						- let createAt = moment(new Date()).format('MM/DD/YYYY');
						if object.createAt
							- createAt = moment(object.createAt).format('MM/DD/YYYY');
						input.datepicker.form-control#iptCrtAt(type="text", name="object[createAt]", value=createAt, placeholder="click here", readonly="readonly")
					.col-sm-4
						span#optCrtAt.text-danger(style="display:none") Pleas complete Create At
				.form-group.row
					label.col-sm-2.col-form-label paidAt
					.col-sm-6
						- let paidAt = "";
						if object.paidAt
							- paidAt = moment(object.paidAt).format('MM/DD/YYYY');
						input.datepicker.form-control#iptPaidAt(type="text", name="object[paidAt]", value=paidAt, placeholder="click here", readonly="readonly")
					.col-sm-4
						span#optPaidAt.text-danger(style="display:none") Pleas complete Paid At
			- let picUrl = "";
			if object.order && object.order.order
				-picUrl += object.order.order;
			if object.order && object.order.brand
				-picUrl += '-' + object.order.brand;
			if object.code
				-picUrl += '-' +object.code;
			if object.price
				-picUrl += '-' + object.price;
			if object.picUrl
				-picUrl = object.picUrl;
			.form-group.row
				label.col-sm-2.col-form-label #{object.code} Picture Path
				.col-sm-6
					input#iptPicUrl.form-control(type="text", name="object[picUrl]", value=picUrl)
				.col-sm-4
					span#optPicUrl.text-danger(style="display:none") Pleas complete Picture Path
			.form-group.row
				label.col-sm-2.col-form-label Pay note
				.col-sm-6
					input#iptPicUrl.form-control(type="text", name="object[note]", value=object.note)
			//- .form-group.row
			//- 	label.col-sm-2.col-form-label Pay
			//- 	.col-sm-6
			//- 		select#iptStatus.form-control(name="object[status]", data-style="btn-info")
			//- 			each key in Object.keys(Conf.stsPay)
			//- 				-a;
			//- 				if key == object.status
			//- 					-a;
			//- 					option(value=key, selected="selected") #{Conf.stsPay[key]} #{key}
			//- 				else
			//- 					option(value=key) #{Conf.stsPay[key]} #{key}
			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="submit")

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	//- <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	//- timepicker
	link(rel="stylesheet", href="/libs/jt.timepicker/jquery.timepicker.css")
	script(src="/libs/jt.timepicker/jquery.timepicker.min.js")
	script(src="/js/fner/pay/update.js")