extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Order Update
			.col-sm-6.text-right
				a.btn.btn-link(href="/lgOrders") back List
		hr
		form#addOrder(method="post", action=action, enctype="multipart/form-data")
			input#iptStaff.form-control(type="hidden", name="object[_id]", value=object._id)
			input#iptStaff.form-control(type="hidden", name="object[staff]", value=crSfer.code)
			-var vderCode = "Input correct Supplier";
			if object.vder
				-vderCode = object.vder.code;
				-vderId = object.vder._id;
			.form-group.row
				label.col-sm-2.com-form-label Input Vendor Code
				.col-sm-8
					input#ajaxIptVendorCode.form-control(type="text", data-router="/ajaxLgVendor", value=vderCode)
				.col-sm-2
					span.text-danger#ajaxOptVendorCode
			input#iptVder(type="hidden", name="object[vder]", value=vderId)
			.row
				.col-sm-2
				.col-sm-8
					table#filterVendor.table.table-hover.table-bordered
			.form-group.row
				label.col-sm-2.col-form-label Order
				.col-sm-8
					input#iptOrder.form-control(type="text", name="object[order]", value=object.order)
				.col-sm-2
					span#optOrder.text-danger(style="display:none") Please complete order

			.form-group.row
				label.col-sm-2.col-form-label P/I
				.col-sm-8
					input#iptPi.form-control(type="text", name="object[pi]", value=object.pi)
				.col-sm-2
					span#optPi.text-danger(style="display:none") Please complete proforma invoice

			.form-group.row
				label.col-sm-2.col-form-label Brand
				.col-sm-8
					input#iptBrand.form-control(type="text", name="object[brand]", value=object.brand)
				.col-sm-2
					span#optBrand.text-danger(style="display:none") Please complete Brand

			.form-group.row
				label.col-sm-2.col-form-label Price
				.col-sm-8
					input#iptPrice.form-control(type="text", name="object[price]", value=object.price)
				.col-sm-2
					span#optPrice.text-danger(style="display:none") Please complete Price

			.form-group.row
				label.col-sm-2.col-form-label taxType
				.col-sm-8
					select#iptTaxType.form-control(name="object[taxType]", data-style="btn-info")
						each key in Object.keys(Conf.taxType)
							-a;
							if object.taxType == key
								-a;
								option(value=key selected="selected") #{Conf.taxType[key]} - #{key}
							else
								option(value=key) #{Conf.taxType[key]} - #{key}
				.col-sm-2
					span#optTaxType.text-danger

			input#iptOurNote(type="hidden", value=object.ourNote)
			.form-group.row
				label.col-sm-2.col-form-label ourNote
				.col-sm-8
					textarea#areaOurNote.form-control.rounded-0(rows="3", name="object[ourNote]")
			hr
			-var acPrice = object.price;
			if object.payAc
				-acPrice = object.payAc.price;
			.form-group.row
				label.col-sm-2.col-form-label Ac
				.col-sm-6
					input#iptAc.form-control(type="text", name="object[acPrice]", value=acPrice)
				.col-sm-4
					span#optAc.text-danger(style="display:none") Pleas complete Ac Price
			-var saPrice = 0;
			if object.paySa
				-saPrice = object.paySa.price;
			.form-group.row
				label.col-sm-2.col-form-label Sa
				.col-sm-6
					input#iptSa.form-control(type="text", name="object[saPrice]", value=saPrice)
				.col-sm-4
					span#optSa.text-danger(style="display:none") Pleas complete Sa Price

			.form-group.row
				.offset-md-2.col-md-10
					input.btn.btn-default(type="submit" value="Update")

	script(src="/js/order/add.js")