- let brand = object.brand;
- let vendor = object.vendor;
.mycontainer
	a(href="/scontDetail/#{scont._id}")
		img(src="/imgs/qtzHead.jpg", alt="qtz", width="770px")
	table
		tr
			td.wd230
				div.ht02
				div.ht02 CATEGORY
				div.ht13 #{Conf.bcate[brand.bcateg.bcate]}
				div.ht13 #{brand.bcateg.code}
			td.wd10
			td.wd290
				div.ht01
				div.ht15: h2 #{brand.code}
				div.ht01
				div.ht13 #{Conf.vtype[vendor.vtype]}
			td.wd10
			td.wd230
				div.ht02 COUNTRY
				div.ht13 #{brand.nation.code}
				div.ht02 COMPANY Name
				div.ht13 #{brand.firmName}
	div.ht01
	table
		- let contact1 = new Object(), contact2 = new Object();
		if vendor.contacts && vendor.contacts.length > 0
			- contact1 = vendor.contacts[0];
		if vendor.contacts && vendor.contacts.length > 1
			- contact2 = vendor.contacts[1];

		tr
			td.wd250: div.ht02 CONTACT 
			td.wd30: div.ht02 
			td.wd230: div.ht02 
			td.wd30: div.ht02 
			td.wd230: div.ht02 
		tr
			td.wd250: div.ht13 #{contact1.contacter}
			td.wd30: div.ht03  &nbsp;MP
			td.wd230: div.ht13 #{contact1.tel}
			td.wd30: div.ht03  &nbsp;@:
			td.wd230: div.ht13 #{contact1.email}
		tr
			td.wd250: div.ht13 #{contact2.contacter} 				
			td.wd30: div.ht03  &nbsp;TEL
			td.wd230: div.ht13 #{contact2.tel}
			td.wd30: div.ht03  &nbsp;@:
			td.wd230: div.ht13 #{contact2.email}
	<hr/>
	table
		tr
			td.wd180: div.ht03 1) Information channel 
			td.wd180: div.ht13  Internet / Expo 
			td.wd510: div.ht13 #{brand.website}
	<hr/>
	div.ht02 2) Quotation Services
	table
		tr
			td.wd80: div.ht03 Catalog
			td.wd80: div.ht15  PDF <br/> PAPERY
			td.wd230: div.ht15 #{brand.atNote}
			td.wd90: div.ht03 &nbsp;&nbsp;&nbsp;Price list
			td.wd80: div.ht15 PDF <br/> PAPERY
			td.wd230: div.ht15 #{brand.plNote}
	<hr/>
	table
		tr
			td.wd180: div.ht06 3) Terms and conditions of payment
			td.wd400: div.ht15 #{object.scont} %
			td.wd90: div.ht05  &nbsp;&nbsp;&nbsp;AC <br/> &nbsp;&nbsp;&nbsp;SA
			td.wd90: div.ht15 #{vendor.ac} <br/> #{vendor.sa}
	div.ht17
		span NOTES: #{object.note} &nbsp;&nbsp; | &nbsp;&nbsp; #{vendor.acsaNote}
	<hr/>
	table
		tr
			td.wd180: div.ht03 4)Material Description
			td.wd590: div.ht13 #{brand.matDesp}
	<hr/>
	table
		tr
			td.wd230: div.ht03 5) LOGOAuthorization
			td.wd90: div.ht13 
			td.wd30: div.ht03 
			td.wd30: div.ht03 
			td.wd300: div.ht03 7) Authorization in e-Commerce
			td.wd90: div.ht13 
	<hr/>
	table
		tr
			td.wd180: div.ht03 8) Production time
			td.wd230: div.ht13  #{brand.pTime}
			td.wd180: div.ht03  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9) Delivery
			td.wd230: div.ht13 #{vendor.freight}
	<hr/>
	div.ht17
		span NOTES: #{object.note}
	
	<hr/>
	table
		tr
			td.wd180: div.ht03  Date:
			td.wd230: div.ht03 #{moment(object.updateAt).format('DD/MM/YYYY')}

			td.wd180: div.ht03 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign:
			if object.updater
				td.wd230: div.ht03 #{object.updater.name}
			else
				td.wd230: div.ht03 Departure