.row
	.col-sm-6: h2 Brand: 
		if object.brand
			-a;
			a(href="/brandDetail/"+object.brand._id) #{object.brand.code}
	.col-sm-6: h2 Vendor: 
		if object.vendor
			-a;
			a(href="/vendorDetail/"+object.vendor._id) #{object.vendor.code}
table.table.table-hover.table-bordered
	tr
		th Cause 
		th summary
		th scont
		th scontNote
		th creater <br/> updater
		th createAt <br/> updateAt
		th status
		th oprate
	tr
		td #{Conf.sctCause[object.cause]}
		td #{object.note}
		td #{object.scont}
		td #{object.scontNote}
		td
			if object.creater
				-a;
				span #{object.creater.code}
			br
			if object.updater
				-a;
				span #{object.updater.code}
		td #{moment(object.createAt).format('MM/DD/YYYY HH:mm')} <br/> #{moment(object.updateAt).format('MM/DD/YYYY HH:mm')}
		td #{Conf.stsScont[object.status]}
		
		td: a.btn.btn-warning.btn-lg(href="/scontUpdate/"+object._id) update