h2 brand Information:
dl.dl-horizontal
	dt cause:
	dd #{object.cause}
	dt scont: 
	dd #{object.scont}
	dt sctNote
	dd #{object.sctNote}
	dt note
	dd #{object.note}
	dt status
	dd #{Conf.stsScont[object.status]}
	dt moment
	dd DAY/MONTH/YEAR
	dt createAt:
	dd #{moment(object.createAt).format('DD/MM/YYYY')}
	dt updateAt:
	dd #{moment(object.updateAt).format('DD/MM/YYYY')}
	dt creater:
	if object.creater && object.creater.name
		dd #{object.creater.name}
	else
		dd
	-a;
	dt updater:
	if object.updater && object.updater.name
		dd #{object.updater.name}
	else
		dd
	-a;

a.btn.btn-warning.btn-lg(href="/scontUpdate/"+object._id) update