extends ../aalayout/layout

block content
	.container
		-acTime = moment(object.acAt).format('YYYYMMDD');
		-saTime = moment(object.saAt).format('YYYYMMDD');
		-nowTime = moment(new Date()).format('YYYYMMDD');
		if (object.status == 0) && (acTime < nowTime)
			- bgd0="bg-danger";
		else
			- bgd0="bg-default";
		if object.status == 1
			- bgd1="bg-warning";
		else
			- bgd1="bg-default";
		if object.status == 2
			- bgr="bg-warning";
		else
			- bgr="bg-white";
		.row(class=bgd0)
			h1.col-sm-6
				span Payment Information:
			.col-sm-4.text-right
				a.btn.btn-link(href="/fnPaymentList") back payment list
		hr

		table.table.table-hover.table-bordered
			tr
				th supplier
				th order
				th brand
				th price
				th ac
				th acAt
				th sa
				th saAt
			tr(class="object-id-"+object._id+" "+bgr)
				td
					if object.vder
						-a;
						span #{object.vder.code}
					else
						span loss supplier
				td #{object.order}
				td #{object.brand}
				td #{object.price}
				td(class=bgd1) #{object.ac}
				td(class=bgd1)
					if object.acAt
						-a;
						span #{moment(object.acAt).format('YYYY/MM/DD')}
				td(class=bgd2) #{object.sa}
				td(class=bgd2)
					if object.saAt
						-a;
						span #{moment(object.saAt).format('YYYY/MM/DD')}
		form
			.form-group.row
				label.col-sm-2.col-form-label creater
				.col-sm-4
					- let creater = 'loss';
					if object.creater
						- creater = object.creater.code;
					input.form-control(type="text", value=creater, readonly="readonly")

				label.col-sm-2.col-form-label updater
				.col-sm-4
					- let updater = 'loss';
					if object.updater
						- updater = object.updater.code;
					input.form-control(type="text", value=updater, readonly="readonly")
			.form-group.row
				label.col-sm-2.col-form-label acer
				.col-sm-4
					- let acer = '';
					if object.acer
						- acer = object.acer.code;
					input.form-control(type="text", value=acer, readonly="readonly")

				label.col-sm-2.col-form-label saer
				.col-sm-4
					- let saer = '';
					if object.saer
						- saer = object.saer.code;
					input.form-control(type="text", value=saer, readonly="readonly")
			.form-group.row
				label.col-sm-2.col-form-label status
				.col-sm-10
					input.form-control(type="text", value=Conf.stsPayment[object.status], readonly="readonly")
			.form-group.row
				label.col-sm-2.col-form-label createAt
				.col-sm-4
					input.form-control(type="text", value=moment(object.createAt).format('YYYY/MM/DD'), readonly="readonly")
				label.col-sm-2.col-form-label updateAt
				.col-sm-4
					input.form-control(type="text", value=moment(object.updateAt).format('YYYY/MM/DD'), readonly="readonly")

		dl.dl-horizontal
			dt Note:
			dd #{object.note}
			dt ourNote
			dd #{object.ourNote}
		hr
		.row
			.col-sm-6
				a.btn.btn-danger(href="/fnPaymentDel/"+object._id) delete
	script(src="/js/task/detail.js")
