table.table.table-hover
	tr
		td: strong Code:
		td #{object.code}
	tr
		td 部门:
		td #{Conf.sfRole[object.role]}
	tr
		td 角色:
		td #{Conf.sfPart[object.part]}
	tr
		td: strong Name:
		td #{object.name}
	tr
		td: strong Document
		td #{object.document}
	tr
		td: strong Telephone
		td #{object.telephone}
	tr
		td: strong Address
		td #{object.address}
	tr
		td: strong Post
		td #{object.post}
	tr
		td: strong IVA
		td #{object.ivaNumber}
	tr
		td: strong createAt:
		td #{moment(object.createAt).format('YYYY/MM/DD')}
	tr
		td: strong updateAt:
		td #{moment(object.updateAt).format('YYYY/MM/DD')}

a(href=object.photo, target="_blank")
	img(src=object.photo, width="200px", height="200px")