a.btn.btn-info(href="#", data-toggle="modal", data-target="#upSferDocu") update Document

#upSferDocu.modal.fade
	.modal-dialog
		.modal-content
			form#updateDocu(method="post", action="/sferUpInfo", enctype="multipart/form-data")
				.modal-header: h3 update Document Information
				.modal-body
					input(type="hidden", name="object[_id]", value=object._id)
					.form-group
						label.col-form-label(for="iptCode") Code
						input.form-control(type="text", class="iptCode", value=object.code, readonly="readonly")
					.form-group
						label.col-form-label(for="iptDocu") Document Number
						input#iptDocu.form-control(type="text", class="iptDocu", name="object[document]", value=object.document)
					.form-group
						label.col-form-label(for="iptTel") Tel
						input#iptTel.form-control(type="text", class="iptTel", name="object[telephone]", value=object.telephone)
					.form-group
						label.col-form-label(for="iptAddr") Address
						input#iptAddr.form-control(type="text", class="iptAddr", name="object[address]", value=object.address)
					.form-group
						label.col-form-label(for="iptPost") Post
						input#iptPost.form-control(type="text", class="iptPost", name="object[post]", value=object.post)
					.form-group
						label.col-form-label(for="iptIva") IVA
						input#iptIva.form-control(type="text", class="iptIva", name="object[ivaNumber]", value=object.ivaNumber)
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交