if !slipCond
	-slipCond = "";
if totalPage > 1
	-a;
	ul.pagination
		li.page-item
			a.page-link(href=url+'?page=0'+slipCond) First [1]

		if currentPage > 5
			-a;
			li.page-item
				a.page-link(href=url+'?page=#{currentPage-6}'+slipCond) 5<<
		li.page-item: span &nbsp;
		- for(var i = currentPage-3; i < currentPage+2; i++){
			- if(i >= 0 && i<totalPage){
				- if(currentPage == (i+1)){
					li.page-item.active
						span.page-link [#{i+1}]
				- }
				- else{
					li.page-item
						a.page-link(href=url+'?page='+i+slipCond) #{i+1}
				- }
			-}
		- }
		li.page-item: span &nbsp;
		if currentPage < totalPage -4
			li.page-item
				a.page-link(href=url+'?page=#{currentPage+4}'+slipCond) >>5
		li.page-item
			a.page-link(href=url+'?page=' + (totalPage-1)+slipCond) Last [#{totalPage}]