extends ../aalayout/layout

block content
	.bg-secondary.py-5
		.container
			.row.text-center
				h2.col-12.col-md-6.mt-3 Brands [#{sconts.length}]
				
				h2.col-6.col-md-3.mt-3 ac: #{vendor.ac} %
				h2.col-6.col-md-3.mt-3 sa: #{vendor.sa} %
	.container.mt-5
		.row
			each scont in sconts
				if scont.brand
					- let item = scont.brand;
					.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-5
						.card.bg-light
							.row.text-center.m-1
								h4.col-12 #{item.code}
								- let disct = 'undefined';
								if scont.scont != 'undefined'
									-disct = scont.scont+' %';
								h5.col-12 sconto: #{disct}
								.col-12 #{moment(item.createAt).format('YYYY/MM/DD')}