extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Brand [#{sconts.length}]
		hr
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th brand code
						th Weight(sort)
						th nation <br/> firm name
						th category1 / category2 <br/> material Description
						th website <br/> Note
						//- th status
						th createAt <br/> updateAt
				tbody
					each scont in sconts
						- let item = scont.brand;
						if item.status == 0
							-objBg ="bg-info";
						else if item.status == 1
							-objBg ="bg-default";
						else if item.status == 2
							-objBg ="bg-secondary";
						tr(class=objBg+" item-id-"+item._id)
							td: a(href="/brandDetail/"+item._id) #{item.code}
							td #{Conf.weight[item.weight]}
							td
								if item.nation
									-a;
									span #{item.nation.code}<br/>#{item.firmName}
							td 
								if item.bcateg
									-a;
									li #{Conf.bcate[item.bcateg.bcate]}
									li #{item.bcateg.code}
								if item. matDesp && item.matDesp.length > 0
									-a;
									span [ #{item.matDesp} ]
							td 
								a(href=item.website, target="view_window") #{item.website}
								br
								span #{item.webNote}
							td
								li #{moment(item.createAt).format('YYYY/MM/DD')}
								li #{moment(item.updateAt).format('YYYY/MM/DD')}
