extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6 Brand [#{sconts.length}]
			h2.col-sm-3 ac: #{vendor.ac} %
			h2.col-sm-3 sa: #{vendor.sa} %
		hr
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th brand code
						th scont
						th status
						th createAt
				tbody
					each scont in sconts
						- let item = scont.brand;
						if item.status == 0
							-objBg ="bg-info";
						else if item.status == 1
							-objBg ="bg-default";
						else if item.status == 2
							-objBg ="bg-secondary";
						tr(class=objBg+" item-id-"+item._id)
							td #{item.code}
							td 
								if scont.scont != 'undefined'
									-a;
									span #{scont.scont}
							td #{Conf.stsBrand[item.status]}
							td #{moment(item.createAt).format('YYYY/MM/DD')}
