if object.sconts && object.sconts.length > 0
	-let sconts = object.sconts;
	hr
	h2 供应商列表: - #{sconts.length}个
	table.table.table-hover.table-bordered
		thead
			tr
				th 供应商
				th 类型
				th 首/尾款
				th 折扣
				th 备注
				th 税
				th 状态
				th 更新时间
		tbody
			each scont in sconts
				- let scontBg;
				if scont.status == 0
					-scontBg ="bg-info";
				else if scont.status == 1
					-scontBg ="bg-default";
				else if scont.status == 2
					-scontBg ="bg-success";
				else if scont.status == 3
					-scontBg ="bg-warning";
				else if scont.status == 4
					-scontBg ="bg-secondary";
				else if scont.status == 5
					-scontBg ="bg-danger";
				tr(class="scont-id-"+scont._id)
					if scont.vendor
						-vendor = scont.vendor;
						if vendor.status == 2
							-vdBg ="bg-secondary";
						else
							-vdBg ="bg-default";
						td(class=vdBg) #{vendor.code}
						td(class=vdBg) #{Conf.vtype[vendor.vtype]}
						td(class=vdBg) #{vendor.ac} / #{vendor.sa}
					else
						td
						td
						td
					td(class=scontBg) #{scont.scont}%
					td(class=scontBg) #{scont.note}
					td(class=scontBg) #{scont.iva}
					td(class=scontBg) #{Conf.stsScont[scont.status]}
					td #{moment(scont.updateAt).format('YYYY/MM/DD')}