extends ../aalayout/layout

block content
	.container
		.row
			h1.col-sm-6
				span Discount Update
			.col-sm-6.text-right
				a.btn.btn-link(href="/bnScont/"+object._id) Discount Detail
		hr
		.row
			.col-sm-6
				h2 Brand: #{object.brand.code}
			.col-sm-6
				h2 Vendor: #{object.vendor.code}
		hr
		.row
			.col-sm-10
				form#updateScont(method="post", action="/bnScontUpd", enctype="multipart/form-data")
					input#scontBrand(type="hidden", name="object[_id]", value=object._id)
					.form-group.row
						label.col-sm-2.col-form-label Updater
						input#iptUpdater(type="hidden", name="object[updater]", value=updater._id)
						.col-sm-4.input-group
							input#updaterCode.form-control(type="text", value=updater.code)
						.col-sm-4
							span.text-danger#optUpdater
					.form-group.row
						label.col-sm-2.col-form-label Discount
						input#orgScont(type="hidden", value=object.scont)
						.col-sm-4.input-group
							input#iptScont.form-control(type="text", name="object[scont]", value=object.scont)
							.input-group-append
								span.input-group-text %	
						label.col-sm-2.col-form-label NOTE
						.col-sm-4
							input.form-control(type="text", name="object[note]", value=object.note)
						.offset-sm-2.col-sm-4
							span.text-danger#optScont
					.form-group.row
						label.col-sm-2.col-form-label IVA
						.col-sm-4.input-group
							input#iptIva.form-control(type="text", name="object[iva]", value=object.iva)
						label.col-sm-2.col-form-label OPTIONS
						.col-sm-4
							select#iptSctCause.form-control(name="object[cause]", data-style="btn-info")
								each key in Object.keys(Conf.sctCause)
									if key == object.cause
										option(value=key, selected="selected") #{Conf.sctCause[key]}
									else
										option(value=key) #{Conf.sctCause[key]}
								- a;
					.form-group.row
						.offset-sm-9.col-md-3
							input.btn.btn-warning.btn-block(type="submit" value="Update Discount")
			.col-sm-4#matchSfer(style="display:none")
				table#filterSfer.table.table-hover.table-bordered
	script(src="/js/scont/scont/update.js")