extends ../aalayout/layout

block content
	.container.mt-3
		.row
			each item in objects
				- let objBg, stsTxt;
				if item.status == 1
					-objBg ="bg-default";
					-stsTxt = "VOID";
				else if item.status == 2
					-objBg ="bg-info";
					-stsTxt = "OCCUPY";
					if item.apler
						-stsTxt = item.apler.code + " OCCUPY";

				else if item.status == 3
					-objBg = "bg-warning";
					-stsTxt = "USING";
					if item.apler
						-stsTxt = item.apler.code + " USING";
				else
					-objBg = "bg-secondary";
					-stsTxt = "BROKEN";
				.col-12.col-md-6.mb-3(class="item-id-"+item._id)
					.card.px-3.py-1
						.row
							.col-3 #{item.code} 
							.col-9.text-right [#{stsTxt}]
						.row.mt-2
							.col-4.text-center.pl-1
								img(src=item.photo, width="100%", style="max-width: 80px")
							.col-8
								strong.m-1 #{item.nome}
								div #{item.desp}
								if item.status == 1
									-a;
									.text-right
										button.mt-2.change.btn.btn-info(type="button", data-url="/sfCarAppl", data-sts='2', data-id=item._id) Apply
	script(src="/js/changeStatus.js")