-let objBg = "bg-light";

if object.status == 0
	-objBg ="bg-info";
else if object.status == 1
	-objBg ="bg-white";
else if object.status == 2
	-objBg ="bg-secondary";
.row(class=objBg)
	h1.col-sm-9
		span brand Information: [#{object.code}]
	.col-sm-3.text-right
		a.btn.btn-link(href="/bnBrands") brand list

hr
.bg-light
	table.table.table-hover.table-bordered
		tr
			th brand code
			th nation
			th firm name
			th category1
			th category2
			th material Description

		tr
			td.text-primary <strong>#{object.code}</strong>
			td
				if object.nation
					-a;
					span #{object.nation.code}<br/>
			td #{object.firmName}
			if object.bcateg
				-a;
				td #{Conf.bcate[object.bcateg.bcate]}
				td #{object.bcateg.code}
			else
				td
				td
			td #{object.matDesp}
	table.table.table-hover.table-bordered
		tr
			th website
			th iva
			th product Time
			th price list
			th Catalog
		tr
			td 
				a(href=object.website, target="view_window") #{object.website}
				if object.webNote
					-a;
					span <br/>#{object.webNote}
			td #{object.iva}
			td #{object.pTime}
			td 
				span #{object.plist} 
				if object.plNote && object.plNote.length > 0
					-a;
					span : #{object.plNote}
			td 
				span #{object.atlas} 
				if object.atNote && object.atNote.length > 0
					-a;
					span : #{object.atNote}
	table.table.table-hover.table-bordered
		tr
			th status
			th staff
			th createAt<br/>updateAt
			th weight
			th option
		tr
			td(class=objBg) #{Conf.stsBrand[object.status]}
			td
				if object.creater
					-a;
					span creater: #{object.creater.code}
				if object.updater
					-a;
					br
					span updater: #{object.updater.code}
			td 
				span #{moment(object.createAt).format('YYYY/MM/DD')}
				br
				span #{moment(object.updateAt).format('YYYY/MM/DD')}
				
			td #{Conf.weight[object.weight]}
			td
				a.btn.btn-dark.btn-lg(href="/bnBrandUp/"+object._id) update
				button.btn.btn-warning.btn-lg#mark(type="button") Mark
script(src="/js/scont/markToggle.js")